In [1]:
# 2 series milti hain tou df banta hy
# pandas khud aik dictionary hay

In [7]:
import pandas as pd

In [3]:
sample = [x for x in range(0,10,2)]
sample

[0, 2, 4, 6, 8]

In [4]:
series = pd.Series([2,3,4,5,6], index=sample) #Series with a capital S

In [5]:
series.index

Int64Index([0, 2, 4, 6, 8], dtype='int64')

In [6]:
series

0    2
2    3
4    4
6    5
8    6
dtype: int64

In [7]:
import numpy as np
np.arange(27).reshape(9,3)  # multidimensional array hay ya aik tensor

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23],
       [24, 25, 26]])

In [12]:
# numeric indices
series[2]

4

In [9]:
series.index = ['a','b','c','d','e'] # char indices
            #    0   1   2   3   4   <-- ye wale khud se de dega

In [11]:
series

a    2
b    3
c    4
d    5
e    6
dtype: int64

In [10]:
series[1] # numeric indices

3

In [13]:
series['b']

3

In [15]:
series['b'] = 5
series

a    2
b    5
c    4
d    5
e    6
dtype: int64

In [18]:
series * 2 # mathematical operations like numpy  (vectorized operations)

a     4
b    10
c     8
d    10
e    12
dtype: int64

In [25]:
series.dtype

dtype('int64')

In [27]:
3 in series

False

In [28]:
'c' in series

True

In [43]:
6 in series.values

True

In [38]:
for each in series.items():
    print(each)

('a', 2)
('b', 5)
('c', 4)
('d', 5)
('e', 6)

In [45]:
series.values

array([2, 5, 4, 5, 6], dtype=int64)

In [46]:
series.keys

<bound method Series.keys of a    2
b    5
c    4
d    5
e    6
dtype: int64>

In [51]:
series < 5

a     True
b    False
c     True
d    False
e    False
dtype: bool

In [55]:
series[series < 5]

a    2
c    4
dtype: int64

In [53]:
series

a    2
b    5
c    4
d    5
e    6
dtype: int64

In [56]:
dt = pd.Series([1,3,5,7,9,11], index=['a','b','c','d','e','f'])
dt

a     1
b     3
c     5
d     7
e     9
f    11
dtype: int64

In [67]:
dt[['a','b','c']]

a    1
b    3
c    5
dtype: int64

In [59]:
dt[dt < 6]

a    1
b    3
c    5
dtype: int64

In [1]:
panda = {
    'a' : 1,
    'b' : 3,
    'c' : 5,
    'd' : 7,
    'e' : 9,
    'f' : 11,
}
panda

{'a': 1, 'b': 3, 'c': 5, 'd': 7, 'e': 9, 'f': 11}

In [3]:
panda_bool = {}
for k,v in panda.items():
    if v > 6:
        panda_bool[k] = True
    else:
        panda_bool[k] = False
panda_bool

{'a': False, 'b': False, 'c': False, 'd': True, 'e': True, 'f': True}

In [5]:
for k,v in panda_bool.items():
    if v:
        print(k, panda[k])

d 7
e 9
f 11

In [11]:
obj = pd.Series([3.3,3.3,3.4,7.1,9.3,4.2,3.3])
obj.rank() #3.2 k ranks(1,2,3) tou (1+2+3)/3 ..... 3.3 k ranks (4,5,6) tou (4+5+6)/3

0    2.0
1    2.0
2    4.0
3    6.0
4    7.0
5    5.0
6    2.0
dtype: float64

In [9]:
obj = pd.Series([3.3,3.3,3.4,7.1,9.3,4.2,3.3])
obj.rank(method='min')

0    1.0
1    1.0
2    4.0
3    6.0
4    7.0
5    5.0
6    1.0
dtype: float64

In [10]:
obj = pd.Series([3.3,3.3,3.4,7.1,9.3,4.2,3.3])
obj.rank(method='max')

0    3.0
1    3.0
2    4.0
3    6.0
4    7.0
5    5.0
6    3.0
dtype: float64

In [12]:
obj

0    3.3
1    3.3
2    3.4
3    7.1
4    9.3
5    4.2
6    3.3
dtype: float64

In [19]:
7.1 in obj #works on index by default

False

In [18]:
7.1 in obj.values

True

In [25]:
obj.name = "Object"
obj.index.name = 'index'

In [26]:
obj

index
0    3.3
1    3.3
2    3.4
3    7.1
4    9.3
5    4.2
6    3.3
Name: Object, dtype: float64

In [32]:
df = pd.read_csv('./fifa19/data.csv')
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [33]:
del df['Photo']
del df['Flag']
del df['Club Logo']

In [35]:
df.head()

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [38]:
names = df['Name']
type(names)

pandas.core.series.Series

In [39]:
df.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Nationality', 'Overall',
       'Potential', 'Club', 'Value', 'Wage', 'Special', 'Preferred Foot',
       'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate',
       'Body Type', 'Real Face', 'Position', 'Jersey Number', 'Joined',
       'Loaned From', 'Contract Valid Until', 'Height', 'Weight', 'LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [41]:
ovr = df['Overall']
type(ovr)

pandas.core.series.Series

In [42]:
ovr.name = "Overall"

In [43]:
ovr

0        94
1        94
2        92
3        91
4        91
5        91
6        91
7        91
8        91
9        90
10       90
11       90
12       90
13       90
14       89
15       89
16       89
17       89
18       89
19       89
20       89
21       89
22       89
23       89
24       89
25       88
26       88
27       88
28       88
29       88
         ..
18177    48
18178    48
18179    48
18180    48
18181    48
18182    48
18183    48
18184    48
18185    48
18186    47
18187    47
18188    47
18189    47
18190    47
18191    47
18192    47
18193    47
18194    47
18195    47
18196    47
18197    47
18198    47
18199    47
18200    47
18201    47
18202    47
18203    47
18204    47
18205    47
18206    46
Name: Overall, Length: 18207, dtype: int64

In [45]:
any(ovr.isnull())

False

In [48]:
all(ovr.notnull())

True

In [53]:
ovr.rank(ascending=False, method='min').astype(int)

0            1
1            1
2            3
3            4
4            4
5            4
6            4
7            4
8            4
9           10
10          10
11          10
12          10
13          10
14          15
15          15
16          15
17          15
18          15
19          15
20          15
21          15
22          15
23          15
24          15
25          26
26          26
27          26
28          26
29          26
         ...
18177    18155
18178    18155
18179    18155
18180    18155
18181    18155
18182    18155
18183    18155
18184    18155
18185    18155
18186    18187
18187    18187
18188    18187
18189    18187
18190    18187
18191    18187
18192    18187
18193    18187
18194    18187
18195    18187
18196    18187
18197    18187
18198    18187
18199    18187
18200    18187
18201    18187
18202    18187
18203    18187
18204    18187
18205    18187
18206    18207
Name: Overall, Length: 18207, dtype: int32

In [59]:
ovr[(ovr<93) & (ovr>88)]

2     92
3     91
4     91
5     91
6     91
7     91
8     91
9     90
10    90
11    90
12    90
13    90
14    89
15    89
16    89
17    89
18    89
19    89
20    89
21    89
22    89
23    89
24    89
Name: Overall, dtype: int64