# Pandas Assignment.

In [2]:
import pandas as pd

### 1. Create a data series with marks of students : 75, 80, 79, 60

In [3]:
ds = pd.Series([75,80,79,60])
ds

0    75
1    80
2    79
3    60
dtype: int64

### 2. Create a data frame with name of students, id and marks

In [16]:
dict1 = {'name':['mids','hash','mar','max'],'id':[0,1,2,3],'marks':[100,100,50,50]}
df = pd.DataFrame(dict1)
df

   name  id  marks
0  mids   0    100
1  hash   1    100
2   mar   2     50
3   max   3     50

In [ ]:
df.column =

In [17]:
df.to_csv('data.csv')

### 3. Now read the file 'data.csv' in panda

In [18]:
dfr = pd.read_csv('data.csv')
dfr

   Unnamed: 0  name  id  marks
0           0  mids   0    100
1           1  hash   1    100
2           2   mar   2     50
3           3   max   3     50

### 4. What are the columns in the dataframe?

In [19]:
df.columns

Index(['name', 'id', 'marks'], dtype='object')

### 5. Sort the data based on Marks obtained. Fill all the 'na' cells with 0

### 6. Display the top 10 rows

### 7. Display the last 10 rows

### 8. Display only the odd rows

### 9. Display only those students who got failed in examination

### 10. Find out the basic statistical info about data

### 11. How many students got A, B, C, F?

### 12. What are the mean scores for students who got A, B, C, F?